<!-- Hero section -->
<section>
    <div>
        <div class="hs-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hs-text">
                            <h2><span>Music</span> for everyone.</h2>
                            <p>Listen Soul music. </p>
                            <a routerLink="/login" routerLinkActive="active"class="site-btn">Login</a>
                            <a routerLink="/signup" routerLinkActive="active" class="site-btn sb-c2">Sign Up</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hr-img">
                            <img src="../../assets/img/hero-bg.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero section end -->

<!-- Intro section -->
<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>Add songs to the playlist</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <ul>
                    <li>Create a playlist of music </li>
                    <li>View songs according to genre</li>
                    <li>Edit song details</li>
                    <li>Delete song from playlist</li>
                </ul>
               
            </div>
        </div>
    </div>
</section>
<!-- Intro section end -->

<!-- How section -->
<section class="how-section spad set-bg" data-setbg="img/how-to-bg.jpg">
    <div class="container text-white">
        <div class="section-title">
            <h2>How it works</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="../../assets/img/icons/brain.png" alt="">
                    </div>
                    <h4>Create an account</h4>
                    <p>Sign Up for the account by providing Username and Password. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="../../assets/img/icons/pointer.png" alt="">
                    </div>
                    <h4>Login</h4>
                    <p>Login to the account to view your Playlist. </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <img src="../../assets/img/icons/smartphone.png" alt="">
                    </div>
                    <h4>Playlist</h4>
                    <p>View your playlist songs acconding to genre. Add or remove songs from your playlist. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How section end -->

<!-- Premium section end -->
<section class="premium-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>CRUD Operations</h2>
                </div>
            </div>
            <div class="col-lg-6">
  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../../assets/img/premium/1.jpg" alt="">
                    <h4>Create </h4>
                    
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../../assets/img/premium/2.jpg" alt="">
                    <h4>Read</h4>
                
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../../assets/img/premium/3.jpg" alt="">
                    <h4>Update</h4>
                  
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="premium-item">
                    <img src="../../assets/img/premium/4.jpg" alt="">
                    <h4>Delete</h4>
                    
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Premium section end -->

<!-- Footer section -->
<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 order-lg-2">
                <div class="row" style="margin-left:400px;">
                    <div class="col-sm-4">
                        <div class="footer-widget">
                            <h2>Team</h2>
                            <ul>
                                    <li><a href="">Ranjan</a></li>
                                    <li><a href="">Rashmeet</a></li>
                                    <li><a href="">Jaspreet</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-5 order-lg-1">
                <img src="../../assets/img/logo.png" alt="">
                <div class="copyright">
Copyright &copy;<script>document.write(new Date().getFullYear());</script><i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group Project</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
                <div class="social-links">
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-pinterest"></i></a>
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer section end -->
